
.first {
    color: #000000;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px auto;
    font-size: 35px;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.second {
    color: #000000;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px auto;
    font-size: 25px;
    width: 49%;
}