* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.first {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuByjkrJhAAOPb_y0fsrhNVIKbiWZGGyMR7BLM8gY_yFfCVfDf0UWEliwXFTtV_X8XsvwHFF-gXlKv4HmUDwWhFC4VYD8HooImxaQEt2DElNQNs08SVE8vxvx06DUzA8fSMB-YasIGPgSW5_3f9CJpafBPgFbUO2roMvBNf07TQwJyi_10gJXKPKFxnwrlwX87LROtVxXZ-XiXxehjNmTrS-9l1gOw79WyFwo4z8MbC3ihUSGOeO75nf1M_JFp1usUJ9HSVS2Lrdg_8);
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;


}

.first-index {
    color: #ffe;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 25px;

}

.overlay {
    top: 0;
    background-color: #4b4848;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
}

.second {
    width: 100%;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    margin: 10px;
    display: flex;
    gap: 15px;
    background-color: #f9f4f4;
    border-radius: 15px;

}

.container {
    width: 100%;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    margin: 10px;
    display: flex;
    gap: 15px;

}

.half1 {
    width: 50%;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    margin: 10px;
    gap: 15px;
    position: relative;
}

.image img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: auto;

}
.trans{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    top: 80%;
    left: 57%; 
    width: 257px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    
}
.trans h2 {
    font-family:sans-serif ;
    color: rgb(145 77 0 / var(--tw-text-opacity, 1));
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}
.trans p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(52 50 43 / var(--tw-text-opacity, 1));
    font-size: 15px;
}

.half2 {
    width: 50%;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    margin: 15px;
}

.half2 h2 {
    font-family:sans-serif ;
    color: rgb(145 77 0 / var(--tw-text-opacity, 1));
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}
.half2 h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(52 50 43 / var(--tw-text-opacity, 1));
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
}
.half2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4b4848 ;
    line-height: 1.5;
    font-size: 20px;
}
.end{
    width: 100%;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}
.end h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(52 50 43 / var(--tw-text-opacity, 1));
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.end p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4b4848 ;
    line-height: 1.5;
    font-size: 20px;
}
.fa-solid{
    color: rgb(145 77 0 / var(--tw-text-opacity, 1));
    font-size: 25px;
    padding: 5px;
}
.the-header{
    margin: 20px auto;
    text-align: center;
    padding: 20px;

}
.the-header h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#34322b ;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 45px;
}
.the-header h2{
    color: #914D00;
    font-size: 18px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boxes{
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 70%;
  padding: 20px;
  margin: 15px;
  border-radius: 20px;
}
.dog-box{
    background-color: #f9f4f4;
    padding: 20px;
    margin: 10px;
    width: 60%;
    height: 40%;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
 
}
.dog-box img{
       border-radius: 15px;
    object-fit: cover;
    width: 25%;
    float: right;
    margin: 10px;
    height: 100%;
    overflow: hidden;
    width: 90%;
  position: absolute;
  bottom: 0;
   
}
.dog-box h2{
    font-family:sans-serif ;
    color:#34322b;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}
.dog-box p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4b4848 ;
    font-size: 18px;
}

.save{
    background-color: #E1F0FB;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
    justify-items: center;
    text-align: center;
}
.save h2{
    font-family:sans-serif ;
    color:#34322b; 
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}
.save p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4b4848 ;
    font-size: 18px;
}
.fa-hand-holding{
    color: rgb(76 90 99 / var(--tw-text-opacity, 1));
    
}
.match{
    background-color: #E7F4E8;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
    justify-items: center;
    text-align: center;
    height: 45%;
}
.match h2{
    font-family:sans-serif ;
    color:#34322b; 
    margin-bottom: 20px;
    font-size: 30px;
}
.match p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4b4848 ;
    font-size: 18px;
}
.life{
    background-color: #f9f4f4;
    padding: 20px;
    margin: 10px;
    width: 60%;
    height: 40%;
    margin: 15px;
    padding: 20px;
    
}
.life h2{
    font-family:sans-serif ;
    color:#34322b;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}
.life p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4b4848 ;
    font-size: 18px;
}
.life img{
    border-radius: 15px;
    object-fit: cover;
    width: 25%;
    float: left;
    margin: 10px;
    height: 100%;
}