* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f6f6f6;
}

/* Layout */
.hero {
    padding: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

/* Text */
.text {
    max-width: 500px;
}

.text h1 {
    font-size: 48px;
    color: #333;
}

.text h1 span {
    color: #b36b00;
    font-style: italic;
}

.text p {
    margin: 20px 0;
    color: #666;
    line-height: 1.6;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.primary {
    background: linear-gradient(to right, #b36b00, #ff9a3c);
    color: white;
}

.secondary {
    background: #dfe8e3;
    color: #333;
}

.btn:hover {
    transform: scale(1.05);
}

/* Image */
.image {
    position: relative;
}

.image img {
    width: 400px;
    border-radius: 20px;
}

/* Badge */
.badge {
    position: absolute;
    bottom: -20px;
    left: 20px;
    background: white;
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.badge span {
    font-size: 20px;
}

.badge small {
    font-size: 10px;
    color: #999;
}

.badge p {
    font-weight: bold;
}
footer {
    background: #f6f4f2;
    padding: 60px 80px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.div-1 h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.div-1 p {
    color: #777;
    line-height: 1.6;
}


.div-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div h3 {
    color: #8b2c0d;
    margin-bottom: 10px;
}

.div a {
    text-decoration: none;
    color: #777;
    transition: 0.3s;
}

.div a:hover {
    color: #8b2c0d;
}


.input-group {
    display: flex;
    margin-top: 10px;
}

.input-group input {
    padding: 12px;
    border: none;
    outline: none;
    background: #eee7e2;
    border-radius: 30px 0 0 30px;
}

.input-group button {
    padding: 12px 18px;
    border: none;
    background: #8b2c0d;
    color: white;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}


.div-2-2 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: #777;
    flex-wrap: wrap;
    gap: 10px;
}